@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.navigationbar {
    align-items: center;
    background-color: var(--palette4);
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    justify-content: space-around;
    position: sticky;
    width: 100%;
    z-index: 100;
}

.logo {
    color: white;
    font-family: "Aclonica", Arial, Helvetica, sans-serif;
    font-size: 64px;
}

.navigationbar__search {
    align-items: center;
    background-color: white;
    border-radius: 40px;
    display: flex;
    height: 40%;
    justify-content: right;
    width: 30%;
}

.navigationbar__search input {
    background-color: transparent;
    border: none;
    border-radius: 40px;
    color: black;
    font-weight: bold;
    height: 100%;
    outline: none;
    padding: 0 5% 0 5%;
    text-align: left;
    width: 85%;

    &::placeholder {
        color: var(--palette4);
        opacity: 1;
    }
}

.navigationbar__search button {
    border-radius: 40px;
    color: var(--palette1);
    height: 100%;
    width: 15%;

}

.search__button i {
    color: var(--palette2);

    &:hover {
        color: black;
    }
}

.navigationbar__menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 30%;
}

.navigationbar__menu button {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: black;
    }
}