/* color palette from <https://github.com/vuejs/theme> */
:root {
    --opinarte-c-dark-green: #259172;
    --opinarte-c-darker-green: #33A686;
    --opinarte-c-green: #42BC9B;
    --opinarte-c-light-green: #98D7C2;
    --opinarte-c-lighter-green: #B8E5D6;
    --vt-c-black: #181818;
    --vt-c-black-mute: #282828;
    --vt-c-black-soft: #222222;
    --vt-c-indigo: #2c3e50;
    --vt-c-white: #ffffff;
    --vt-c-white-mute: #f2f2f2;
    --vt-c-white-soft: #f8f8f8;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-black);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-mute: var(--vt-c-white-mute);
    --color-background-soft: var(--vt-c-white-soft);
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
    --section-gap: 160px;
}

/* Font configurations */
:root {
    --opinarte-font-family-brand: 'Aclonica', 'Inter', sans-serif;
    --opinarte-font-size-big: 30px;
    --opinarte-font-size-medium: 25px;
    --opinarte-font-size-small: 15px;
    --opinarte-font-size-title: 50px;
    --opinarte-text-black: #000000;
    --opinarte-text-white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-mute: var(--vt-c-black-mute);
        --color-background-soft: var(--vt-c-black-soft);
        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);
        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: var(--color-background);
    color: var(--opinarte-text-black);
    font-size: var(--opinarte-font-size-small);
    line-height: 1.6;
    min-height: 100vh;
    text-rendering: optimizeLegibility;

    transition:
        color 0.5s,
        background-color 0.5s;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
}