@import './base.css';

:root {
    --frame-flex-direction: row;
    --frame__critic-width: 60%;
    --frame__itempage-width: 40%;
}

section {
    font-size: var(--opinarte-font-size-small);
}

.itempage {
    background-color: transparent;
}

.frame .frame__itempage {
    align-self: var(--frame__itempage-align-self);
    width: var(--frame__itempage-width);
    background-color: var(--opinarte-c-light-green);
}

.itempage__image {
    object-fit:cover;
    width: 200px;
}

.itempage_title {
    font-size: var(--opinarte-font-size-big);
}

.frame__critic {
    background-color: var(--opinarte-c-lighter-green);
    width: var(--frame__critic-width);
}

.post {
    background-color: var(--opinarte-c-green);
}

.post .btn-group .btn {
    background-color: var(--opinarte-c-lighter-green);
    color: var(--opinarte-text-black);

    &:hover {
        background-color: var(--vt-c-white);
    }
}

.post .blockquote {
    flex-direction: var(--frame-flex-direction);
}

.post__image {
    object-fit: cover;
    width: 150px;
}

.post__title {
    font-size: var(--opinarte-font-size-big);
}

.post__filmname {
    font-size: var(--opinarte-font-size-medium);
}

.post .post__icon {
    width: 50px;
}

@media screen and (orientation: portrait) {
    :root {
        --frame__itempage-width: 90%;
        --frame__critic-width: 90%;
        --frame-flex-direction: column;
    }
}