@import './base.css';

:root {
    --window__submit-width: 50%;
}

.window__login {
    background-color: var(--opinarte-c-lighter-green);
    width: 90%;
    height: 40rem;
}

.window__cadastro {
    background-color: var(--opinarte-c-lighter-green);
    width: 90%;
    height: 50rem;
}

.window__title {
    font-size: var(--opinarte-font-size-title);
}

.window__submit {
    width: var(--window__submit-width);
}

.window__submit .btn {
    background-color: var(--opinarte-c-green);
    color: var(--opinarte-text-black);
    font-size: var(--opinarte-font-size-big);

    &:hover {
        background-color: var(--vt-c-white);
    }
}

.window__wraper {
    width: 90%;
    height: 90%;
}

@media screen and (orientation:portrait){
    :root {
        --window__submit-width: 90%;

    }
    
}