@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

:root {
    --navbar__nav-width: 30rem;
}

.navbar {
    background-color: var(--opinarte-c-darker-green);
    width: 100vw;
    z-index: 5;
}

.container {
    flex-direction: var(--navbar-flex-direction);
}

.navbar__brand{
    color: var(--vt-c-text-light-1);
    font-family: var(--opinarte-font-family-brand);
    font-size: var(--opinarte-font-size-title);
}

.navbar__search {
    background-color: var(--vt-c-white);
    width: 15rem;
    height: 3rem;
}

.navbar__search--input {
    background-color: var(--vt-c-white);
}

.navbar__nav {
    width: var(--navbar__nav-width);
}

.navbar__nav .nav-link {
    color: var(--vt-c-text-light-1);
}
.navbar__nav .nav-link:hover{
    color: var(--vt-c-black);
}

.navbar__user--picture {
    width: 40px;
}

@media screen and (max-width: 992px) {
    :root {
        --navbar__nav-width: 100%;
    }
}